

# Import specific functions from ggplot2
importFrom(ggplot2, ggplot, aes, labs, geom_col, ylim, scale_fill_manual)

# Import specific functions from gganimate
importFrom(gganimate, animate, transition_time, ease_aes)


# Export your package's functions
export(create_sorting_animation)
export(find_differences_vectorized)
